.githubLink:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
  opacity: 0;
}
.githubLink:hover:after {
  background: #fff;
  width: 100%;
  left: 0;
  opacity: 1;
}
