.no-scrollbar {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.fixedSizeContent {
  -ms-overflow-style: none;

  height: 27rem;
}

@media (max-width: 768px) {
  .fixedSizeContent {
    height: 20rem;
  }
}
