/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Montserrat;
}
body {
  margin: 0;
  font-family: 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*underline menu animation*/
.textToHover::after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
  opacity: 0;
}
.textToHover:hover::after {
  background: #fff;
  width: 100%;
  left: 0;
  opacity: 1;
}

.textSelected::after {
  content: '';
  opacity: 1;

  display: block;
  height: 2px;
  left: 0;
  position: relative;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 100%;
}

/*CSS transition*/

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
